<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Safe Bathrooms Club</title>
        <meta name="description" content="#NoHateInMyState">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
      <header class="site-width header">
        <img class="header__logo" src="img/sbc.logo.png" alt="Safe Bathrooms Club">
        <ul class="header__nav">
          <li><a href="#">About</a></li>
          <li><a href="#">Submit</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </header>
      <main class="site-width">
        <section class="section">
          <h1>{{bathroom.name}}</h1>
        </section>
      </main>
      <footer class="footer">
        <ul class="footer__nav">
          <li><a href="#">About</a></li>
          <li><a href="#">Submit</a></li>
          <li><a href="#">Contact</a></li>
          <li>© 2016</li>
        </ul>
      </footer>
    </body>
</html>
